body{
background-color: rgb(230, 255, 255);
}
header{
background-color: #80c0e5;
border-radius: 10px;
}
nav{
    position:absolute;
    margin-left: 55%;
    margin-top: -90px;
    font-family: "Inter";
    text-decoration:none;
}
.logo{
margin-top: -4px;
padding-left: 30px;
}

.navtext{
    text-decoration: none;
    color: rgb(80, 22, 150);
}
.navtext:hover{
    color: #5FB3E4;
}
.head-li{
    display: inline;
    margin-left: 5px;
}
ul button{
border-radius: 13px;
border: none;
padding: 8px 10px;
text-decoration:none;
}
.about-us{
margin-left: 10px;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    color: rgb(80, 22, 150);
    padding-right: 42px;
    cursor: pointer;
}
.dropdown a{
    display: block;
color: rgb(80, 22, 150);
    text-decoration: none;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    border: 1px white solid;
    border-radius: 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: 5FB3E4;
}
.dropdown a:hover{
    color: #5FB3E4;
}
.hero{
padding-bottom: 100px;

border-radius: 13px;
font-family: "Inter";
}
.big-title{
position: relative;
padding-top: 29px;
padding-left: 19%;
font-family: "Poppins";
}
.hero-img img{
width: 1000px;
position: relative;
margin-top: -300px;
margin-left: 18%;
}
.hero-text{
    color:rgb(0, 0, 0)
}
.sub-text{
    position: relative;
    padding-top: 11%;
    padding-right: 50%;
    font-family: "Poppins";
    text-align: center;
}
.sub-text2{
    position: relative;
    font-family: "Inter";
    color: midnightblue;
    padding-left: 13%;
    padding-top: 10px;
}
footer{
background-color: #80c0e5;
border-radius: 8px;
font-family: "Inter";
padding-bottom: 4px;
}
.final-title{
position: relative;
margin-left: 15px;
padding-top: 8px;
font-size:larger;
color:white;
font-weight: bolder;
padding-bottom: 3px;
}
.flag{
position: relative;
padding-left: 6px;
margin-top: 5px;
}
footer h3{
padding-left: 15px;
margin-top: -3px;
font-size: medium;
color: aliceblue;
}
.his{
position: relative;
padding-left: 90%;
margin-top: -98px;
}
footer h4{
padding-left: 15px;
margin-top: 1px;
}
.footer-title{
background-color: rgb(57, 89, 232);
border-radius: 3px;
}