.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#submitbtn {
    padding: 10px;
    background-color: #5FB3E4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitbtn:hover {
    background-color: #3e8e41;
}
.new-user{
font-family: sans-serif;
}
.new-user a{
text-decoration: none;
color: white;
}